<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Weather App!</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="app">
        <div class="holder headline">
            <h1>Travel Weather App V1.0</h1>
        </div>

        <div class="holder zip">
            <label for="zip">Enter zipcode here: </label>
            <input type="text" id="zip" placeholder="enter zip code here">
        </div>
        <div class="holder date">
            Enter your departure date: <input type="date" id="departureDate">
            <br> Enter your return date: <input type="date" id="returnDate">
        </div>
        <br>
        <br>
        <button type="submit" id="submit" value="submit">Submit</button>
    </div>




    <br>

    <div class="holder entry">
        <div class="title">The weather at your location of <span id="chosenLocation"></span></div>will be:
        <div id="entryHolder">
            <div id="date"></div>
            <div id="temp"></div>
            <div id="content"></div>
        </div>
    </div>



</body>

</html>