// Media query for mobie
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .holder headline {
        grid-area: 1 / 3 / 2 / 4;
    }
    .holder zip {
        grid-area: 2 / 3 / 3 / 4;
    }
    .holder date {
        grid-area: 3 / 3 / 4 / 4;
    }
    .holder entry {
        grid-area: 4 / 3 / 5 / 4;
    }
}