body {
    background: #f23557;
    margin-left: 25px;
    margin-right: 25px;
    width: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    // grid-template-rows: .15fr .15fr .75fr .75fr;
    grid-template-columns: auto;
    height: 100vh;
    width: 100vh;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#value {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.entry {
    background: rgba(59, 74, 107, .4);
}


/* Default For Basic HTML Elements */

label {
    display: block;
    font-size: 30px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    margin: 5px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    transition-duration: 0.4s;
}

//added hover effect on button
button:hover {
    background-color: #4CAF50;
    color: white;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

.title {
    display: flex;
    flex-direction: row;
}

.title:before,
.title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.title:before {
    margin-right: 10px
}

.title:after {
    margin-left: 10px
}

//Media queries
// Media query for mobie
@media only screen and (max-width: 480px) {
    body {
        background: #f23557;
        margin-left: 25px;
        margin-right: 25px;
        width: 100vh;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        display: grid;
        grid-auto-columns: 100%;
    }
    h1 {
        font-size: 40px;
        align-self: center;
    }
    #app {
        height: 100vh;
        width: 100vh;
        color: #f0d43a;
        justify-content: center;
        grid-gap: 1em;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    #value {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .holder headline {
        grid-area: 1 / 3 / 2 / 4;
    }
    .holder zip {
        grid-area: 2 / 3 / 3 / 4;
    }
    .holder date {
        grid-area: 3 / 3 / 4 / 4;
        align-items: center;
        justify-content: center;
    }
    .holder entry {
        grid-area: 4 / 3 / 5 / 4;
    }
}